.full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
  /*border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);*/
}
  
.itemDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.itemDescription h2{
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.buttonstyle {
  color: rgb(16, 16, 16);
  background-color: #b49cbe;
  font-size: 12px;
  font-weight: 200;  
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid white;
  border-radius: 12px;

}
.pricestyle {
  background-color: #40005d;
  border: 1px solid white;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .itemDescription {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .titlestyle {
    font-size: 1.25rem;
  }

  .pricestyle {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
